@model IEnumerable<AptidudeTest.Models.ApplicationUser>

@{
	ViewData["Title"] = "Index";
	int c = 1;
}

<h1>Candidates List</h1>

<p>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Create</a>

</p>

<table  id="dataTable"class="table table-striped" style="width:100%">
	<thead>
		<tr>
			<th>#</th>
			<th>
					@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
					@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
					@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@c</td>
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
										@Html.DisplayFor(modelItem => item.Phone)
					@*<a asp-action="Edit" asp-route-id="@item.Email">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
				</td>
			</tr>
			c++;
		}
	</tbody>
</table>
<script>
</script>
