@model IEnumerable<AptidudeTest.Models.Choice>

@{
	ViewData["Title"] = "Index";
	char c = 'A';
}

<h1>List Choice</h1>
<p>
	<a class="btn btn-warning" asp-action="Index" asp-controller="Questions" asp-route-id="@ViewData["ExamId"]">Back to current question</a>
</p>
<p>
	<a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table id="dataTable" class="table table-striped" style="width:100%">
	<thead>
		<tr>
			<th>#</th>
			<th>
				@Html.DisplayNameFor(model => model.Text)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsCorrect)
			</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@c</td>
				<td>
					@Html.DisplayFor(modelItem => item.Text)
				</td>
				<td>
					@if (@item.IsCorrect)
					{
						<a class="btn btn-success">True</a>
					}
					else
					{
						<a class="btn btn-secondary">False</a>
					}

				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Question.Text)
				</td>
				<td>
					<a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a>
					<a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
			c++;
		}
	</tbody>
</table>
